.product_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color:#061621;
    color: white;
}
.product_container-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: aliceblue;
    color: #061621;
}

.form-container {
    background-color: aliceblue;
    color: #061621;
}