.card-container {
    display: flex;
    flex-direction: column;
    width:20rem;
    align-items: center; 
    border-radius: 5px;
    padding: 16px; 
    margin-bottom: 16px;
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
}

img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.product-info {
    width:60%;
}

.product-info span {
    background-color: rgb(78, 178, 108); 
    padding: 10px;
    max-width: 20px;
    border-radius: 5px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




