.product_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.product_container-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding:16px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.product_container-sub p {
    padding-bottom: 0.5rem;;
}

.product_container-sub span {
    font-weight: 500;
    padding-bottom: 2rem;
}

.form-container {
    background-color: aliceblue;
    color: #061621;
}